h1 {
    color: blue;
}

.related-post {
    list-style:none;
}

article ul li:nth-child(odd) {
    font-weight: bold;
}

a:link {
    color: red;
}

a:visited {
    color: rgb(30, 102, 78);
}

a:hover {
    color: rgb(128, 161, 85);
}

a:active {
    color: orange;
}

aside {
    background-color: lightgray;
    padding: 40px;
    border-top: 15px solid lightblue;
    border-bottom: 15px solid lightblue
}

.container {
    width: 1200px;
    margin: 0 auto;
}

button {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 17px;
    right: 17px;
}

.main-header{
    border-top: 6px solid darkturquoise;
    
    display:flex;
    align-items: center;
    justify-content: space-between;
}

/* links in the nav */  
nav a{
    margin:20px;
}

/* flexbox on author-box */ 
.author-box{
    display:flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.author{
    margin-bottom: 0px;
}

.related-post {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .related-link:link {
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 5px;
    display: block;
  }
  
  .related-author {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
  }
  
  h4{
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
  }

  .row {
    display: flex;
    align-items: flex-start;
    gap: 75px;
    margin-bottom: 60px;
  }
  
  article {
    flex: 1;
    margin-bottom: 0;
  }
  
  aside {
    
  /*  DEFAULTS: */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  
    flex: 0 0 300px;
  } 

  aside {
    /* DEFAULTS:
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; */
  
    flex: 0 0 300px;
  } 

  article {
    flex: 1;
    margin-bottom: 0;
  } 
  
  