h1 {
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

p {
  color: cadetblue;
  font-weight: bold;
}


/* Resolving conflicts */
/* Comment one which of the following four text color rules will be applied.*/
/*an id is more specific than class. Class more specific than element selector */

#copyright {
  
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
}

/* End of resolving conflicts secion */